.about__wrapper {
  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.about__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 38px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;

  @include text(36px, 40px);

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    margin-bottom: 70px;
    margin-top: 44px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  //margin-bottom: 42px;
  margin-bottom: 40px;
  counter-reset: number;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 242px;
    grid-column-gap: 75px;
    grid-row-gap: 40px;
    margin-bottom: 10px;
  }
}

.about__item {
  display: flex;
  //margin-bottom: 18px;
  //
  margin-bottom: 16px;
  padding-bottom: 2px;
  //
  padding-top: 2px;
  color: $color-text-paragraph;
  position: relative;


  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }

  &--leaf::before {
    background: $color-bg-btn url("../img/advantage-leaf@1x.png") center no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: 2dppx) {
      background: $color-bg-btn url("../img/advantage-leaf@2x.png") center no-repeat;
      background-size: 50px 50px;
    }
  }

  &--tub::before {
    background: $color-bg-btn url("../img/advantage-powder@1x.png") center no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: 2dppx) {
      background: $color-bg-btn url("../img/advantage-powder@2x.png") center no-repeat;
      background-size: 50px 50px;
    }
  }

  &--eat::before {
    background: $color-bg-btn url("../img/advantage-dining@1x.png") center no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: 2dppx) {
      background: $color-bg-btn url("../img/advantage-dining@2x.png") center no-repeat;
      background-size: 50px 50px;
    }
  }

  &--alarm::before {
    background: $color-bg-btn url("../img/advantage-clock@1x.png") center no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: 2dppx) {
      background: $color-bg-btn url("../img/advantage-clock@2x.png") center no-repeat;
      background-size: 50px 50px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 4px;

    @include text(16px, 24px);
    width: 250px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }


    &::after {
      @include pseudo;
      top: 103px;
      right: 24px;
      width: 112px;
      height: 280px;
      color: $color-bg;
      font-family: $title-font;

      @include text(280px, 0);
      content: counter(number);
      counter-increment: number;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-top: 2px;
  }
}
