.additional-goods {
  //Для сетки, временно
  height: 968px;

  @media (min-width: $tablet-width) {
    height: 1044px;
  }

  @media (min-width: $desktop-width) {
    height: 526px;
  }
}

.additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 35px;
    padding-right: 30px;
    max-width: $desktop-width;
    display: grid;
    grid-template-columns: 1fr 245px;
  }
}

.additional-goods__title {
  margin: 0;
  padding: 29px 20px 35px 20px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;

  @include text(24px, 24px);

  @media (min-width: $tablet-width) {
    padding: 29px 30px 35px 30px;

    @include text(36px, 36px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.additional-goods__list {
  list-style: none;
  min-width: 320px;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.additional-goods__item {
  border-top: 1px solid $color-border-hover;
  padding-top: 10px;
  padding-bottom: 16px;

  &:last-child {
    border-bottom: 1px solid $color-border-hover;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
