.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  color: $color-text-alt;
  text-transform: uppercase;
  background-color: $color-bg-btn;
  font-family: $title-font;
  font-weight: normal;

  &:hover {
    background-color: $color-bg-btn-hover;
  }

  &:active {
    background-color: $color-bg-btn-hover;
    color: $color-text-alt-active;
  }

  &--theme--gray {
    color: $color-text;
    background-color: $color-bg;

    &:hover {
      background-color: $color-catalog-border;
    }

    &:active {
      background-color: $color-catalog-border;
      color: $color-text-paragraph-active;
    }
  }

  &--size--promo {
    @include text(14px, 18px);
    padding: 11px 5px;

    @media (min-width: $tablet-width) {
      @include text(20px, 0);
      width: 244px;
      padding: 28px 5px;
    }
  }

  &--size-product {
    @include text(16px, 0);
    padding: 20px 5px;
  }

  &--size--form {
    @include text(16px, 20px);
    padding: 10px 5px;
    border: none;
  }
}
