.catalog__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.catalog__title {
  margin: 0;
  padding: 25px 20px 42px 20px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;

  @include text(36px, 36px);

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    margin-top: 23px;
    margin-bottom: 50px;
    padding: 29px 30px 35px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 40px 35px 40px;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 45px;
    max-width: $desktop-width;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 59px;
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    //grid-row-gap: 63px;
    padding: 0 40px;
    grid-row-gap: 58px;
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.catalog__item {
  border-top: 1px solid $color-catalog-border;
  margin-bottom: 25px;

  &:last-child {
    padding-bottom: 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $color-catalog-border;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    border-top: none;


    &:last-child {
      padding-bottom: 0;
    }
  }
}
