.copyright__name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include text(16px, 18px);
  color: $color-text;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__logo {
    fill: $color-bg-btn;
  }

  &:active .copyright__logo {
    fill: $color-bg-btn;
    opacity: 0.3;
  }
}

.copyright__logo {
  display: flex;
  width: 27px;
  height: 34px;
  fill: $social-link;
  //margin-left: 15px;

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 34px;
    margin-left: 23px;
  }
}
