.example {
  background: $color-bg-alt;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $color-bg-alt 461px, $color-bg-body 461px 100%);
  }

  @media (min-width: $desktop-width) {
    //background: linear-gradient($color-bg-body 29.5%, $color-bg-alt 29.5% 100%);
    //background: linear-gradient(to left, $color-bg-alt 393px, $color-bg 393px 100%);
    background: linear-gradient(to left, $color-bg-alt 27.3%, $color-bg 27.3% 100%);

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 462px;

  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    background: linear-gradient(to left, $color-bg-alt 50vw, $color-bg 50vw 100%);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 462px;
  }
}

.example__wrapper {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $color-link-border;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    border-top: none;
    padding-bottom: 28px;
    max-width: $desktop-width;
    margin: 0 auto;
    margin-top: 25px;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.example__content {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    width: 515px;
    margin-right: 15px;
  }
}

.example__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;

  @include text(36px, 40px);

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    padding-top: 45px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    margin-bottom: 148px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  color: $color-text-paragraph;

  @media (min-width: $tablet-width) {
    @include text(16px, 24px);
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {

    margin-bottom: 67px;
  }
}

.example__stats {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__row {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}

.example__column {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-right: 41px;
    margin-bottom: 25px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.example__description {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: -9px;
  margin-left: -2px;
  padding: 0;
  width: 80px;
  color: $color-text-paragraph;
  background-color: $color-bg-alt;
  text-align: center;

  @include text(12px, 12px);

  @media (min-width: $tablet-width) {
    background-color: $color-bg-body;

    @include text(14px, 14px);
    width: 143px;
    margin-left: 0;
    padding: 0 8px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-bg;
  }
}

.example__value {
  margin: 0;
  padding: 14px 5px 15px 5px;
  width: 124px;
  border: 1px solid $color-border-hover;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;
  text-transform: uppercase;
  text-align: center;

  @include text(24px, 24px);

  @media (min-width: $tablet-width) {
    @include text(30px, 37px);
    padding: 16px 5px;
    width: 162px;
  }
}

.example__cost {
  margin: 0;

  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;
  text-transform: uppercase;
  text-align: center;

  @include text(14px, 20px);

  @media (min-width: $tablet-width) {
    @include text(20px, 20px);
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 21px;
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 63px;
    white-space: nowrap;
  }
}
