.footer {

  background-color: $color-bg;

  min-height: 565px;
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.footer__logo {
  padding-top: 41px;
  padding-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid $color-border-hover;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 44px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  padding: 24px 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 33px 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 0 20px 0;
  }
}

.footer__copyright {
  border-top: 1px solid $color-border-hover;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
  }
}
