.header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
    padding-top: 47px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  min-height: 66px;
  border-bottom: 1px solid $color-link-border;

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-left: 30px;
  }
}

.header__bottom {
  @media (min-width: $tablet-width) {
    padding-right: 30px;
  }
}

.header__logo img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__burger {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 16px;
  position: relative;
  margin-right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $color-link;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $color-link;
    top: 7.5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &--inactive::before {
    transform: rotate(45deg);
    top: 7.5px;
  }

  &--inactive::after {
    transform: rotate(-45deg);
    bottom: 7.5px;
  }

  &--inactive span {
    transform: scale(0);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
