.item-card {
  @media (min-width: $tablet-width) {
    min-height: 430px;
    //background: linear-gradient($color-bg-body 81px, $color-bg 81px 100%);
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.item-card__wrapper {
  display: flex;
  padding: 0 20px 0 20px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0 36px 0 36px;
  }
}

.item-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 168px;
    position: relative;
    top: -61px;
    margin-bottom: -61px;
  }

  @media (min-width: $desktop-width) {
    top: -71px;
    margin-bottom: -61px;
  }
}

.item-card__info {
  margin-top: 22px;
  min-width: 140px;


  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.item-card__picture {
  width: 140px;
  object-fit: cover;


  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    object-fit: none;
  }
}


.item-card__title {
  display: block;
  width: 80px;
  font-family: $title-font;
  font-weight: normal;


  @include text(16px, 20px);
  text-transform: uppercase;
  color: $color-card-title;

  @media (min-width: $tablet-width) {
    @include text(20px, 24px);
    width: 140px;
    align-self: center;
    text-align: center;
    padding-left: 3px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    @include text(20px, 21px);
    margin-top: 0;
  }
}

.item-card__stats {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 11px;
  margin-left: -1px;

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.item-card__row {
  display: flex;

  @include text(12px, 15px);
  color: $color-text;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-hover;

    @include text(16px, 16px);
    padding: 6px 0;
  }
}

.item-card__description {
  flex-grow: 1;
}

.item-card__value {
  flex-grow: 1;
  margin: 0;
  text-align: right;
  margin-right: -3px;

  @media (min-width: $tablet-width) {
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.item-card__link {
  display: flex;
}

.item-card__order {
  margin: -4px 20px 18px;

  @media (min-width: $tablet-width) {
    margin: -1px 38px 40px;
  }
}
