.menu {
  font-family: $title-font;
  font-weight: 500;
  display: none;

  @include text(20px, 20px);

  &--opened {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;

    @include text(18px, 24px);
    font-weight: 400;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: block;

    @include text(20px, 30px);
  }
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__item {

  border-bottom: 1px solid $color-link-border;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-right: 35px;
  }
}

.menu__link {
  display: flex;
  justify-content: center;
  padding: 22px 0 23px 0;
  color: $color-link;
  text-transform: uppercase;

  &--style--light {
    @media (min-width: $desktop-width) {
      color: $color-link-alt;
    }
  }
}
