.offers {
  width: 320px;
  margin: 0 auto;
}

.offers__wrapper {

  padding: 0 20px;
}

.offers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers__item {
  padding: 0 20px;
  margin-top: 20px;
}
