.program__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;

  @include text(36px, 36px);
}


.program__subtitle {

  margin-bottom: 35px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;
  text-transform: uppercase;

  @include text(14px, 18px);

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 40px;
  }
}
