//.slider {
//  @media (min-width: $tablet-width) {

//    margin: 0 auto;
//  }
//}

.slider__list {
  margin-bottom: 31px;
  text-align: center;


  @media (min-width: $tablet-width) {
    width: 690px;
    //height: 517px;
    //margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    //height: 656px;
    //margin: 0 auto;
    margin: 0 0 39px 0;
  }
}

.slider__before {
  display: none;
  margin-left: auto;
  margin-right: auto;

  &--current {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.slider__after {
  display: none;
  margin-left: auto;
  margin-right: auto;

  &--current {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    //margin-top: -101px;
    margin-left: 39px;
  }
}

.slider__toggle {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;
  text-transform: uppercase;
  text-align: center;

  @include text(16px, 20px);

  @media (min-width: $tablet-width) {
    margin-right: 0;
    padding: 0;
    border-bottom: 1px dotted $color-slide-underline;

    &:hover {
      border-bottom: 1px solid $color-slide-underline-hover;
    }
  }


  &--before {
    margin-right: 15px;
    margin-left: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 25px;
      margin-left: -3px;
    }
  }

  &--after {
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    @include text(20px, 30px);
  }
}

.slider__range {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid $color-border-hover;
  background-color: $color-bg-body;
  padding: 3px 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border-radius: 6px;
    border: none;
    background-color: $color-bg-range;
    padding: 0 6px;
  }
}

.slider__control {
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-bg-btn;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -12px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color-bg-btn;
    border: 12px solid $color-text-alt;
    box-shadow: 0 0 0 1px $color-border-hover,
      0 1px 3px $color-shadow-range;

    &:hover {
      box-shadow: 0 0 0 1px $color-border-hover,
        0 2px 4px $color-shadow-range-hover;
    }

    &:active {
      box-shadow: 0 0 0 1px $color-bg-btn,
        0 3px 5px $color-shadow-range-active;
    }
  }
}
