.slider {
  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 690px;
    margin: 0 auto;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.slider__list {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 690px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  //Десктоп без разделения слайдов с градиентом
  @media (min-width: $desktop-width) {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 690px;
    overflow: hidden;
    margin: 0 0 36px 0;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    height: calc(100% + 28px);
  }
}

.slider__container-before {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 50%;
    overflow: hidden;
    object-fit: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 53%;
    overflow: hidden;
    object-fit: none;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.slider__before {
  display: block;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    background: linear-gradient($color-bg-body 169px, $color-bg-alt 169px 100%);
    margin-right: 0;
    margin-left: 0;
    display: block;
    width: 100%;
    height: 517px;
    object-fit: none;
    object-position: 0 0;
  }


  @media (min-width: $desktop-width) {
    background: linear-gradient($color-bg-body 37.5%, $color-bg 37.5% 100%);
    display: block;
    width: 100%;
    height: 517px;
    object-fit: none;
    object-position: 0 0;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    height: 100%;
    background: linear-gradient($color-bg-body 29.5%, $color-bg 29.5% 100%);
  }
}

.slider__after {
  display: none;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 517px;
    object-fit: none;
    object-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 517px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
  }

  // перестроение для градиентного десктопа
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 41px;
    left: 43px;
    z-index: 100;
  }
}

.slider__toggle {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $title-font;
  font-weight: normal;
  color: $color-text-title;
  text-transform: uppercase;
  text-align: center;

  @include text(16px, 20px);

  @media (min-width: $tablet-width) {
    margin-right: 0;
    padding: 0;
    border-bottom: 1px dotted $color-slide-underline;

    &:hover {
      border-bottom: 1px solid $color-slide-underline-hover;
    }
  }

  &--before {
    margin-right: 15px;
    margin-left: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 25px;
      margin-left: -3px;
    }
  }

  &--after {
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    @include text(20px, 30px);
  }
}

.slider__range {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid $color-border-hover;
  background-color: $color-bg-body;
  padding: 3px 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border-radius: 6px;
    border: none;
    background-color: $color-bg-range;
    padding: 0 6px;
  }
}

.slider__control {
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-bg-btn;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -12px;
    left: 47%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color-bg-btn;
    border: 12px solid $color-text-alt;
    box-shadow: 0 0 0 1px $color-border-hover,
      0 1px 3px $color-shadow-range;

    &:hover {
      box-shadow: 0 0 0 1px $color-border-hover,
        0 2px 4px $color-shadow-range-hover;
    }

    &:active {
      box-shadow: 0 0 0 1px $color-bg-btn,
        0 3px 5px $color-shadow-range-active;
    }
  }
}
