$mobile-width-only:767px;
$tablet-width:768px;
$desktop-width:1280px;
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";

$color-text: #444444;
$color-text-title: #000000;
$color-text-title-alt: #111111;
$color-text-alt:#ffffff;
$color-text-paragraph:#444444;
$color-bg:#f2f2f2;
$color-bg-alt:#eaeaea;
$color-bg-body:#ffffff;
$color-bg-btn: #68b738;
$color-bg-btn-hover: #5eaa2f;
$color-bg-image:#65a936;
$color-border:#e7e7e7;
$color-border-hover:#cdcdcd;
$color-border-active:#444444;
$color-border-error:#ff8282;
$color-border-text:#d9d9d9;
$color-link: #000000;
$color-link-alt: #ffffff;
$color-link-border:#e6e6e6;
$color-catalog-border:#ebebeb;
$color-card-title:#222222;


$main-font: "Arial","sans-serif";
$title-font: "Oswald","Arial","sans-serif";
